# Ігноруємо тимчасові файли та системні файли
*.log
*.swp
*.bak
.DS_Store

# Ігноруємо директорії, що зберігають дані MySQL
mysql_data/
wp-content/uploads/

# Ігноруємо сокети MySQL, які є тимчасовими
mysql_data/mysql.sock

# Ігноруємо файли конфігурацій, які можуть бути специфічними для вашої машини
.env
